## Fetching data from <a href= "data.gov.in">data.gov.in</a>

In [2]:
import requests
import pandas as pd
import numpy

### Trying to fetch data 999 records at a time:

In [8]:
offset = 0
limit = 999
url = f"https://api.data.gov.in/resource/8d3b6596-b09e-4077-aebf-425193185a5b?api-key=579b464db66ec23bdd0000014d331dc47176456852b5edabe3c24089&format=csv&offset={offset}&limit={limit}"
df=pd.read_csv(url)
df.to_csv('data1.csv')

In [10]:
offset = 999
limit = 999
url = f"https://api.data.gov.in/resource/8d3b6596-b09e-4077-aebf-425193185a5b?api-key=579b464db66ec23bdd0000014d331dc47176456852b5edabe3c24089&format=csv&offset={offset}&limit={limit}"
df2=pd.read_csv(url)
df2.to_csv('data2.csv')

In [11]:
# Concatenate df2 at the end of df1
result_df = pd.concat([df, df2], ignore_index=True)
# Print the concatenated DataFrame
print("Printing the concatenated DataFrame")
print(result_df)

Printing the concatenated DataFrame
      Month  Year                 OIL COMPANIES  Quantity (000 Metric Tonnes)  \
0       NaN  2023            IOCL-BARAUNI,BIHAR                        546.51
1       NaN  2023                    IOCL TOTAL                       6037.64
2       NaN  2023                    ONGC TOTAL                       1475.55
3       NaN  2023                     RIL TOTAL                       5355.74
4       NaN  2023   IOCL-MATHURA, UTTAR PRADESH                        833.52
...     ...   ...                           ...                           ...
1387    NaN  2021      BPCL-MUMBAI, MAHARASHTRA                       1376.00
1388    NaN  2021  ONGC-TATIPAKA,ANDHRA PRADESH                          8.00
1389    NaN  2021      MRPL-MANGALORE,KARNATAKA                       1361.00
1390    NaN  2021                    ONGC TOTAL                       1369.00
1391    NaN  2021                     RIL TOTAL                       4890.00

      last_updated
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
...            ...
1387           NaN
1388           NaN
1389           NaN
1390           NaN
1391           NaN

[1392 rows x 5 columns]

In [12]:
# Export df_combined to a CSV file
result_df.to_csv('combined_data.csv')
print("Combined data exported to combined_data.csv")

Combined data exported to combined_data.csv

### Fetching entire data using an iterator

In [4]:
import requests
import pandas as pd

offset = 0
limit = 999
api_key = "579b464db66ec23bdd0000014d331dc47176456852b5edabe3c24089"

# Initialize an empty DataFrame to store the result
result_df = pd.DataFrame()

while True:
    url = f"https://api.data.gov.in/resource/8d3b6596-b09e-4077-aebf-425193185a5b?api-key={api_key}&format=csv&offset={offset}&limit={limit}"
    
    response = requests.get(url)
    
    # Check if the response is successful and content length is greater than 0
    if response.status_code == 200 and int(response.headers.get('Content-Length', 0)) > 0:
        # Read data into a temporary DataFrame
        temp_df = pd.read_csv(url)
        
        # Concatenate temporary DataFrame with result DataFrame
        result_df = pd.concat([result_df, temp_df], ignore_index=True)
        
        # Increment offset for the next request
        offset += limit
    else:
        # Break the loop if there is no more data to fetch
        break

# Print the resulting DataFrame
result_df

,Month,Year,OIL COMPANIES,Quantity (000 Metric Tonnes),last_updated
0,NaN,2023,"IOCL-BARAUNI,BIHAR",546.51,NaN
1,NaN,2023,IOCL TOTAL,6037.64,NaN
2,NaN,2023,ONGC TOTAL,1475.55,NaN
3,NaN,2023,RIL TOTAL,5355.74,NaN
4,NaN,2023,"IOCL-MATHURA, UTTAR PRADESH",833.52,NaN
...,...,...,...,...,...
1387,NaN,2021,"BPCL-MUMBAI, MAHARASHTRA",1376.00,NaN
1388,NaN,2021,"ONGC-TATIPAKA,ANDHRA PRADESH",8.00,NaN
1389,NaN,2021,"MRPL-MANGALORE,KARNATAKA",1361.00,NaN
1390,NaN,2021,ONGC TOTAL,1369.00,NaN
1391,NaN,2021,RIL TOTAL,4890.00,NaN

In [ ]:
result_df.to_csv('new_data.csv')